<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PeriodFile" value="C:/Scoreboard/PeriodFile.txt"/>
    <add key="TeamOneScore" value="C:/Scoreboard/TeamOneScore.txt"/>
    <add key="TeamTwoScore" value="C:/Scoreboard/TeamTwoScore.txt"/>
    <add key="TeamOneShots" value="C:/Scoreboard/TeamOneShots.txt"/>
    <add key="TeamTwoShots" value="C:/Scoreboard/TeamTwoShots.txt"/>
  </appSettings>
</configuration>